<div *ngIf="isDataAvailable">
  <app-visualform
    (formValue)="onFormValue($event)"
    [initialValue]="formInitialValue"
    [formEntity]="formEntity"
  ></app-visualform>

  <app-checkbox-table
    [data]="tableData"
    width="100%"
    height="auto"
  ></app-checkbox-table>

  <div class="btn-row">
    <button
      mat-raised-button
      color="warn"
      (click)="onBtnRemove($event)"
      type="button"
    >
      Remove
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="onBtnPlot($event)"
      type="button"
    >
      Plot
    </button>
  </div>
</div>
