<div class="form-content">
  <div class="select-wrap">
    <app-select
      [fieldOptions]="xFieldOptions"
      [(selected)]="xField"
      (selectedChange)="onXFieldChange($event)"
      required="true"
    ></app-select>
  </div>

  <div class="select-wrap">
    <app-select
      [fieldOptions]="xFuncOptions"
      [(selected)]="xFunc"
      required="true"
    ></app-select>
  </div>

  <div class="select-wrap">
    <app-select
      [fieldOptions]="yFieldOptions"
      [(selected)]="yField"
      (selectedChange)="onYFieldChange($event)"
      required="true"
    ></app-select>
  </div>

  <div class="select-wrap">
    <app-select
      [fieldOptions]="yFuncOptions"
      [(selected)]="yFunc"
      required="true"
    ></app-select>
  </div>

  <div class="btn-wrap">
    <button
      mat-raised-button
      color="accent"
      (click)="onBtnClick($event)"
      type="button"
    >
      Add
    </button>
  </div>
</div>
