<div class="chart">
  <mat-form-field>
    <mat-label>Chart type</mat-label>
    <mat-select [(value)]="chartType">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <canvas
    baseChart
    [datasets]="data.chartData"
    [labels]="data.chartLabels"
    [options]="chartOptions"
    [colors]="chartColors"
    [legend]="chartLegends"
    [chartType]="chartType"
    [plugins]="chartPlugins"
  ></canvas>
</div>
