table {
    width: 90%;
    text-align: left;
    margin: auto;
  }

.table-container{
        height: 400px;
        overflow: auto;
}

// tr.mat-header-row {
//     border: 1px solid #606060;
//   }
  
// //   td.mat-cell {
// //     border: none;
// //   }

// td.mat-cell {
//     /* row padding */
//     padding: 16px 0 16px 0;
//     /* row border */
//     border-bottom: 1px solid #606060;
//     border-top: 1px solid #606060;
//    }
   
//    td.mat-cell:first-child {
//      /* row border */
//      border-left: 1px solid #606060;
//    }
   
//    td.mat-cell:last-child {
//      /* row border */
//      border-right: 1px solid #606060;
//    }
   